@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../scss/variables";

body {
  background-color: $bg-color;
}

::-webkit-scrollbar {
  width: 30px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: $bg-color;
  border: 7px solid white;
  border-radius: 30px;
}

::-moz-selection{
  @apply bg-bg text-white
}
::selection{
  @apply bg-bg text-white
}