.ProductPage{
  min-height: 100vh;
  height: 100%;
  padding-bottom: 30px;
}

.ProductContent {

  img {

    @apply w-[40vw] ml-[10vw] mr-[5vw]
  }

  .ProductInfo {
    h1 {
      @apply text-8xl text-white font-bold
    }

    h2 {
      @apply text-4xl text-white font-bold
    }

    @apply ml-[5vw]
  }

  .Product-btn {
    @apply btn w-64 bg-white rounded-lg text-bg text-lg font-bold
    hover:bg-orange-200 duration-500 mt-5 disabled:bg-[#00000017]
  }

  .ProductBoxes {
    @apply flex flex-row flex-wrap justify-center -ml-12 mt-5
  }

  @apply mt-0 pt-16 flex
}

.ProductComments {
  .CommentsList {
    h1{
      @apply text-3xl font-bold text-center
    }

    @apply w-[calc(100vw-600px)] bg-white rounded-lg p-5 ml-[50px] mr-[50px]
    flex flex-col
  }

  .FeedbackForm {
    h1{
      @apply text-lg font-bold text-center my-4
    }

    textarea{
      @apply w-[380px] ml-[35px] resize-none
    }

    button{
      @apply w-[380px] ml-[35px] resize-none mb-4 rounded-lg
    }

    @apply w-[450px] bg-white rounded-lg h-[220px]
  }
  @apply flex mt-10
}
