@import "../../scss/variables";

.Card {
  width: 260px;
  position: relative;
  display: block;
  margin: 5px;


  .card {
    background-color: $second-color;
    color: white;
  }

  .img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 260px;
    z-index: 2;
    transition: 1s all;

    &:hover {
      transform: scale(1.1);
    }
  }

  button {
    &:hover {
        color: $second-color;
      @apply bg-white border-white
    }
    @apply btn bg-transparent border-white rounded text-white border-2

  }

}







