.NotFoundPage {

  html, body {
    margin: 0;
    padding: 0;
  }

  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;

    .text-center {
      text-align: center;

      h1,
      h3 {
        margin: 10px;
        cursor: default;

        .fade-in {
          animation: fadeIn 2s ease infinite;
        }
      }

      h1 {
        font-size: 8em;
        transition: font-size 200ms ease-in-out;
        border-bottom: 1px dashed white;

        span#digit1 {
          animation-delay: 200ms;
        }

        span#digit2 {
          animation-delay: 300ms;
        }

        span#digit3 {
          animation-delay: 400ms;
        }
      }

      a {
        border: 1px solid white;
        background: transparent;
        outline: none;
        padding: 10px 20px;
        font-size: 1.1rem;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        transition: background-color 200ms ease-in;
        margin: 20px 0;

        &:hover {
          background-color: white;
          cursor: pointer;
          @apply text-bg
        }
      }
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

}
